/* font Setup */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Nav Bar */
header {
    height: 102px;
    width: 1400px;
}
nav {
    height: 62px;
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.nav-logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}
.nav-a{
    display: flex;
    gap: 32px;
    font-size: 20px;
}
.a4 {
    color: #5D58EF;
    font-weight:500;
}
.a3 {
    color: #05D4DF;
    font-weight:500;
}
.a2 {
    color: #01ACFD;
    font-weight:500;
}
.a1 {
    color: #FEA301;
    font-weight:500;
}
.menu {
    display: none;
}
.nav-btn {
    height: 40px;
    width: 190px;
    background-color: #FEA301;
    border-radius: 12px;
    text-align: center;
    padding-top: 13px;
    color: white;
    font-size: 20px;
    font-weight: 500;

}
.mob {
    display: none;
}
/* Navbar for mobile */
@media screen and (max-width: 576px) {
    header {
        height: 70px;
        max-width: 390px;
    }
    nav {
        margin: 20px 0;
    }
    .nav-a, .nav-btn, .nav-logo>h3{
        display: none;
    }
    .nav-logo {
        display: flex;
        gap: 290px;
        margin: 0 5px;
    }
    .nav-logo img {
        align-items: start;
    }
    .menu {
        display:flex;
        height: 35px;
        width: 35px;
        opacity: 60%; 
    }
    .mob {
        display:flex;
        background-color: #FEA301;
    }
}
/* Navbar for mobile ended*/
/* Nav Bar ended  */

/* enroll section start */
 .enroll{
    height: 575px;
    width: 1159px;
    display: flex;
    align-items: center;
    margin: 20px 141px;
    gap: 50px;
 }
 .enroll-h{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0;
 }
 .empower {
    color: #FEA301;      
 }
 .vision {
    color: #01ACFD;
 }
 .enroll-p{
    font-size: 20px;

 }
 .enroll-btn {
    height: 50px;
    width: 190px;
    background-color: black;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
 }
 .enroll-mobile {
    display: none;
 }
/* enroll section for mobile */ 
@media screen and (max-width: 576px) {
    .enroll {
        max-width: 357px; 
        height: 725px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;    /*problem*/
        margin-right: 0;
   
    }
    .enroll-pc {
        display: none;
    }
    .enroll-mobile{
        display: flex;
        height: 413px;
        max-width: 337px;
        margin-top: 25px;   
    }
    .enroll-h{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;    
     }
     .enroll-p{
        font-size: 14px;   
        font-weight: 500;
        text-align: center;
     }
     .div {
        margin-left: 15px;
     }
     .enroll-btn {
        margin-left: 75px;
        margin-top: 10px;
     }
}

/* enroll section for mobile ended  */
/* enroll section ended */

/* Curriculum section start */
.sec-curriculum {
    height: 809px;
    width: 1400px;
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat; 
}

.sec-curriculum >h3 {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    margin: 60px 0 80px;
}
.curriculum-card {
    max-width: 1160px;
    height: 481.5px;
    display: flex;
    gap: 28.29px;
    margin: 0 140px 0px;

}
.card-1, .card-2, .card-3 {
    text-align: center;
    padding: 52px 40px 0;
    box-shadow: 10px 10px 40px rgba(158, 158, 158, 0.345);
    border-radius: 18.86px;
}
.card-1{
    background: linear-gradient(to bottom, #F7E7CE 0%, #DEF5FF 0%, white 30%);
}
.card-2 {
    padding-top: 65px;
    /* background-color: #FFF4DC; #FFF4DC   #F7E7CE*/
    /* background: linear-gradient(to top, white ,#F7E7CE) */
    background: linear-gradient(to bottom, #F7E7CE 0%, #f7e7ceb9 0%, white 30%);
}
.card-3 {
    padding-top: 64px;
    background: linear-gradient(to bottom, #F7E7CE 0%, #EEE1FF 0%, white 30%);
}
.card-1 p, .card-2 p, .card-3 p {
    margin: 33.48px 0;
    margin-bottom: 40px;
    color: #808080;
    font-size: 15.09px;
    cursor: pointer;
}
.card-1 .c1{
    color: #64C8FF;
    font-size: 15.09px;
    font-weight: bold;
    padding-top: 10px;
}
.card-2 .c2{
    color: #F0AA00;
    font-size: 15.09px;
    font-weight: bold;
    padding-top: 10px;
}
.card-3 .c3{
    color: #8700FF;
    font-size: 15.09px;
    font-weight: bold;
    padding-top: 10px;
}
.curriculum-btn {
    display: flex;
    gap: 10px;
    margin: 80px 655px 60px;
    
}
.c-btn {
    font-size: 24px;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    padding: 18px 22px;
    background-color: #FEA301;
    border: none;
    cursor: pointer;
}

/* curriculum section for mobile */

@media screen and (max-width: 576px) {
    body {
        margin: 0;
        margin-left: 5px
    }

    .sec-curriculum {
        max-width: 367px; 
        height: 1913.51px;
        margin: auto 10px auto 13px; 
        background-image: url("./assets/bg.png");
        background-position: 1px 1px center;
    }
    .sec-curriculum h3 {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin: 60px 35px 40px 55px;
    }

    .curriculum-btn {
        display: none;
    }
    .curriculum-card {
        flex-direction: column;
        margin: auto 10px;
        width: 357px;
        height: 324.47px;
        gap: 15px;
        margin: 0 10px 0px;
        
    }

    .card-1, .card-2, .card-3 {
        border-radius: 15px;
        text-align: center;
        padding: 20px 40px 0;
        /* box-shadow: 10px 10px 40px rgba(158, 158, 158, 0.345); */
 
    }
    .card-1{
        
        background: linear-gradient(to bottom, #F7E7CE 0%, #DEF5FF 0%, white 30%);
    }
    .card-2 {
        background: linear-gradient(to bottom, #F7E7CE 0%, #f7e7ceb9 0%, white 30%);
    }
    .card-3 {
        
        background: linear-gradient(to bottom, #F7E7CE 0%, #EEE1FF 0%, white 30%);
    }
    .card-1 p, .card-2 p, .card-3 p {
        margin: 20px 0;
        margin-bottom: 40px;
        color: #808080;
        font-size: 15.09px;
        cursor: pointer;
    }
    .card-1 h3, .card-2 h3, .card-3 h3 {
        font-size: 16.25px;
        font-weight: bold;
        margin: 20px 35px;
    }
    .card-1 .c2, .card-2 .c2, .card-3 .c3 {
        font-size: 16.25px;
        font-weight: bold;
        margin-top: 0;
        padding: 0;
        margin-bottom: 50px;
    }
}

/* curriculum section for mobile ended */
/* curriculum section ended*/

/* Stories section start */
.stories {
    height: 930px;
    width: 1400px;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background: linear-gradient(to top, #F7E7CE 0%, #f7e7ceb9 20%, white 80% ), url("./assets/bg.png");
}
.stories img {
    max-width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.stories >h1{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.stories-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(1,1fr); */
    align-content: center;
    gap: 19px;
    height: 630.52px;
    width: 1160px;
    margin: 80px 160px auto 120px;
    position: relative;
   
    
}
.storiescard-1 {
    
    grid-row: span 3;
    height: 630px;   
    width: 540.27px;
    border-radius: 16px;
    margin-top: 5px;
    background-color: white;
}

.storiescard-2, .storiescard-3, .storiescard-4, .storiescard-5 {
    width: 290.69px;
    height: 301.61px;
    /* margin-top: 0px; */
    background-color: white;
    border-radius: 16px;
    
}
.storiescard-2, .storiescard-3{
    margin-top:5px;
}
.span-1, .span-2, .span-3, .span-4, .span-5 {

    background-color: #3CD8E8;
    border-radius: 47.93px;
    padding: 8px;
    font-size: 15.34px;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    top: 314px; 
    left: 24px;
    z-index: 1;
    color: white;
}

.storiescard-1 h3{
    font-size: 24px;
    margin: 50px 30px 30px;
    
} 
.storiescard-1 p{
    font-size: 15.93px;
    color: #666666;
    font-weight: 600;
    margin: 50px 30px 30px;
}
.storiescard-2 h3, .storiescard-3 h3, .storiescard-4 h3, .storiescard-5 h3{
    font-size: 17px;
    font-weight: bold;
    margin: 50px 30px 30px;
}
.strbtn {
    margin: 70px 640px 0px 640px;
    cursor: pointer;
    transition: transform;
}
.strbtn:hover {
    transform: scale(1.1) translate(20px) ;
    background-color: skyblue;
}